{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SiliconScribes</title>
    <link rel="icon" type="image/png" href="{% static '/img/Aryan.png' %}" />
    <meta name="description" content="A history enthusiast with a passion for programming, a love for books, and a penchant for music. Isha Suthar & Aryan Sanchiya">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Jersey+15+Charted&display=swap" rel="stylesheet">
    
</head>
<body>
    <nav>
        <ul>
            <!-- <li><a href="#">Start</a></li> -->
            <li><a href="#">Writings </a>|</li>
            <li><a href="collobrate">Services</a></li>
        </ul>
        <hr>
    </nav>
    <h1 class="header">SiliconScribes<span class="blinking-cursor">|</span></h1>


    <hr>
    <div class="content">
        <p class="caption">
           <b>Hi, I'm Aryan Sanchiya,</b>  
            a passionate individual with a deep interest in the realms of 
            Artificial Intelligence and Machine Learning. <br>
            <br>
            I thrive on exploring the endless possibilities of Python programming language and 
            crafting innovative solutions using frameworks like Django. <br>
            <br>
            Alongside my technical pursuits, I'm an avid reader and history enthusiast, 
            delving into the pages of books and unraveling the mysteries of the past.<br>
            <br> 
            <b>As a founder and freelancer,</b> 
            I'm dedicated to leveraging my skills to create impactful projects and 
            contribute meaningfully to the tech community.
        </p>
        <hr>
        <p>
            Greetings! <b>I'm Isha Suthar,</b> 
            a driven individual honored with the prestigious title of Gold Medalist for my academic 
            achievements. <br>
            <br>
            My journey is paved with a passion for research, 
            evident in my adeptness at crafting insightful research papers. <br>
            <br>
            With expertise in database management, 
            I specialize in organizing and optimizing data structures for efficient retrieval 
            and analysis. <br>
            <br>
            As a freelancer and founder, 
            I channel my scholarly pursuits into practical solutions, 
            aiming to make a tangible impact in the world of technology and beyond.

        </p>
    </div>
    <footer class="caption">
        <p>&copy; 2024 SiliconScribes. All rights reserved.</p>
    </footer >
</body>
</html>